<section id="sobre">
  <div class="jumbotron jbsobre">
    <div class="row align-items-center w-100">

      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <h1 class="display-4 mb-4 p-3 text-center">Sobre a iniciativa</h1>

        <p class="font-weight-light text-justify">
          Durante a concepção do projeto, pensamos em diversas formas de contemplar alguns dos Objetivos de
          Desenvolvimento Sustentável para 2030, especialmente a <strong>Redução das Desigualdades</strong>, que por si
          só já contempla <strong>Igualdade de Gênero, Trabalho Decente, Crescimento Econômico e Educação de
            Qualidade</strong> em um só.
        </p>

        <p class="font-weight-light text-justify">
          Construímos uma plataforma agregadora entre causas, organizações e pessoas interessadas
          em relacionar-se, divididas por categorias e localidades. A proposta unirá eventos, formações, produtos,
          projetos e vagas de trabalhos alocados a organizações e/ou freelance, sempre voltados a pessoas socialmente
          marginalizadas, como mulheres, pessoas com deficiência, pretes, LGBTQIAP+, etc, pensando em maximizar e
          englobar causas importantes que se encontram invisibilizadas ou não-categorizadas de uma maneira simples e
          fácil, partindo também de pautas identitárias que a equipe trás consigo, como questões de gênero, de
          orientação sexual, econômicas e socioculturais.
        </p>

        <p class="font-weight-light text-justify">
          Seiva, segundo a botânica, é um líquido que realiza o transporte da água, nutrientes, hormônios, oxigênio e
          gás carbônico pelo interior das plantas vasculares. Corresponde ao sangue dos seres humanos. Tanto a seiva
          quanto o sangue são substâncias vitais, que percorrem o interior e nos fornecem energia e vigor, mas, para
          além de características biológicas, nós seres humanos, precisamos de fatores socioculturais para
          sobrevivência. E como diriam os Titãs, “a gente não quer só comida, a gente quer comida, diversão e arte”, e é
          pensando nisso que nasce a rede social Seiva, considerando as formas de ver e viver a arte como um
          combustível.
        </p>

      </div>

      <div class="col-md-3">
      </div>
    </div>
  </div>
</section>

<section id="projeto">

  <div class="jumbotron jumbotron-fluid jbitens">
    <h1 class="display-4 text-center">A Seiva é:</h1>

    <div class="container mb-5 mt-5">
      <div class="row flex-wrap justify-content-around mt-5 w-100">

        <div class="col-md-12">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header zuzu rounded-pill" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-block text-light" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Para você, criador de conteúdo
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body font-weight-light">
                  <strong>Ei, vem com a gente!</strong>
                  <br>
                  Aqui você pode criar conteúdo, vender um produto e/ou serviço, divulgar vagas de emprego/cursos ou
                  simplesmente navegar pelas postagens afim de descobrir coisas novas! Os temas pré cadastrados para que
                  você possa contribuir são: Organizações Não Governamentais, Associações e Coletivos, Psicologia,
                  Alimentação, Tecnologia, Eventos, Família, Esportes, Aprendizagem, DIY, Fotografia, Comidas e Bebida,
                  Escrita, Música, Games, Crenças, Cinema, Humor, Carreira, Animações, Artes e Cinema, <strong> dentre
                    muitos outros que você pode nos sugerir! </strong>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header lilas rounded-pill" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-block collapsed text-light" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Para você, ONG, associação e/ou coletivo
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body font-weight-light">
                  <strong>Ei, vem com a gente!</strong>
                  <br>
                  Aqui você pode criar conteúdo, vender um produto e/ou serviço, divulgar vagas de emprego/cursos ou
                  simplesmente navegar pelas postagens afim de descobrir coisas novas! Os temas pré cadastrados para que
                  você possa contribuir são: Organizações Não Governamentais, Associações e Coletivos, Psicologia,
                  Alimentação, Tecnologia, Eventos, Família, Esportes, Aprendizagem, DIY, Fotografia, Comidas e Bebida,
                  Escrita, Música, Games, Crenças, Cinema, Humor, Carreira, Animações, Artes e Cinema, <strong> dentre
                    muitos outros que você pode nos sugerir! </strong>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header coral rounded-pill" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-block collapsed text-light" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Para você, doador e/ou comprador
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body font-weight-light">
                  <strong>Ei, vem com a gente!</strong>
                  <br>
                  Aqui você pode criar conteúdo, vender um produto e/ou serviço, divulgar vagas de emprego/cursos ou
                  simplesmente navegar pelas postagens afim de descobrir coisas novas! Os temas pré cadastrados para que
                  você possa contribuir são: Organizações Não Governamentais, Associações e Coletivos, Psicologia,
                  Alimentação, Tecnologia, Eventos, Família, Esportes, Aprendizagem, DIY, Fotografia, Comidas e Bebida,
                  Escrita, Música, Games, Crenças, Cinema, Humor, Carreira, Animações, Artes e Cinema, <strong> dentre
                    muitos outros que você pode nos sugerir! </strong>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>