<div class="container text-justify">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1>O que é a Seiva?</h1>
            <p>Seiva, segundo a botânica, é um líquido que realiza o transporte da água, nutrientes, hormônios, oxigênio
                e gás carbônico pelo interior das plantas vasculares. Corresponde ao sangue dos seres humanos. Tanto a
                seiva quanto o sangue são substâncias vitais, que percorrem o interior e nos fornecem energia e vigor,
                mas, para além de características biológicas, nós seres humanos, precisamos de fatores socioculturais
                para sobrevivência. E como diriam os Titãs, “a gente não quer só comida, a gente quer comida, diversão e
                arte”, e é pensando nisso que nasce a rede social Seiva, considerando as formas de ver e viver a arte
                como um combustível.</p>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-6 p-3">
            <img class="img-fluid" src="../../assets/img/hand.svg" alt="">
        </div>
        <div class="col-md-6 mt-5">
            <h2>Nossa história e o que nos move</h2>
            <p>Seiva, segundo a botânica, é um líquido que realiza o transporte da água, nutrientes, hormônios, oxigênio
                e gás carbônico pelo interior das plantas vasculares. Corresponde ao sangue dos seres humanos. Tanto a
                seiva quanto o sangue são substâncias vitais, que percorrem o interior e nos fornecem energia e vigor,
                mas, para além de características biológicas, nós seres humanos, precisamos de fatores socioculturais
                para sobrevivência. E como diriam os Titãs, “a gente não quer só comida, a gente quer comida, diversão e
                arte”, e é pensando nisso que nasce a rede social Seiva, considerando as formas de ver e viver a arte
                como um combustível.</p>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h2>Agradecimentos</h2>
            <p>Seiva, segundo a botânica, é um líquido que realiza o transporte da água, nutrientes, hormônios, oxigênio
                e gás carbônico pelo interior das plantas vasculares. Corresponde ao sangue dos seres humanos. Tanto a
                seiva quanto o sangue são substâncias vitais, que percorrem o interior e nos fornecem energia e vigor,
                mas, para além de características biológicas, nós seres humanos, precisamos de fatores socioculturais
                para sobrevivência. E como diriam os Titãs, “a gente não quer só comida, a gente quer comida, diversão e
                arte”, e é pensando nisso que nasce a rede social Seiva, considerando as formas de ver e viver a arte
                como um combustível.</p>
        </div>
    </div>
</div>