<!-- Footer -->
<footer class="page-footer font-small bg-secondary pt-4 w-100">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">

      <div *ngIf='auth.btnSair()' class="col-md-12 justify-content-center d-flex">
        <a class="text-decoration-none btn btn btn-outline-warning
              btn-sm p-3 mr-1" (click)='sair()'>Sair</a>
      </div>

      <div class="col-md-12 justify-content-center d-flex">
        <a routerLink='/sobre' type="button" class="btn btn btn-outline-warning
            btn-sm p-3 mr-1
            ">Sobre</a>

        <a routerLink='/home' type="button" class="btn btn-outline-warning
            btn-sm p-3 mr-1
            ">Junte-se a nós</a>

        <a routerLink='/equipe' type="button" class="btn btn btn-outline-warning
            btn-sm p-3 mr-1
            ">Equipe</a>

            <a routerLink='/feed' type="button" class="btn btn btn-outline-warning
            btn-sm p-3 mr-1
            ">Feed</a>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">

          <li><a href="#" class="icoFacebook" title="Facebook">
              <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-3"></fa-icon>
            </a></li>

          <li><a href="#" class="icoInstagram" title="Instagram">
              <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
            </a></li>
          <li><a href="#" class="icoLinkedin" title="Linkedin">
              <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->

<!-- Copyright -->
<div class="footer-copyright bg-dark text-center py-3 ">
  <span class="text-light"> © 2020 Copyright: </span>
</div>
<!-- /Copyright -->