.container-fluid {
  background-image: url("https://i.imgur.com/lSU6dbM.png");
  background-repeat: no-repeat;
  background-size: 100%;

  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

#subir {
  position: relative;
  right: 10px;
  bottom: 50px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  scroll-behavior: smooth;
  transition: 0.4s;
  cursor: pointer;
}
