<app-navbar></app-navbar>

<!-- CONTAINER -->
<div class="container">

    <div class="row mt-5 d-flex justify-content-center">

        <div class="col-md-7">
            <div class="display-4 pl-0 mb-5 text-center"> Postagens sobre {{tema.descricao}} </div>
            <div class="row mb-5">

                <!-- POSTAGENS -->
                <div class="card border-0">
                    <div *ngFor="let tema of listaTemas">
                        <div *ngFor='let post of tema.postagem'>
                            <img class="card-img-top" src="{{post.imagem}}" alt="Imagem sobre {{post.titulo}}">
                            <div class="card-body">

                                <h3 class="card-title mt-2 seiva-pink">{{post.titulo}}</h3>

                                <p class="card-text text-justify" aria-describedby="texto"> {{post.descricao}} </p>
                                <small id="texto" class="form-text mb-5 text-muted">
                                    Postado em {{post.data | date:'dd/MM/yyyy'}} às
                                    {{post.data | date:'HH:mm'}}</small>

                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /POSTAGENS -->

                <!-- BOTÃO -->
                <div class="col-md-12 d-flex justify-content-center">

                    <button class="btn btn-outline-info w-25 rounded-pill ml-5" (click)="voltar()"><img alt="Voltar"
                            class="icon" src="../../assets/img/back.png"><span class="p-2">Voltar</span></button>
                </div>
                <!-- /BOTÃO -->

            </div>
        </div>
    </div>
    <img class="img-fluid" alt="Ilustração de folhagens em tons terrosos" src="../../assets/img/final-pag.png">
</div>
<!-- /CONTAINER -->