<!-- CAROUSEL -->

<div class="container-fluid p-0 w-100">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner w-100">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://i.imgur.com/kKHq5QK.png" alt="Primeiro Slide">
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.imgur.com/dMPEvhM.png" alt="Segundo Slide">
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.imgur.com/OXx1XKH.png" alt="Terceiro Slide">
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.imgur.com/xgsMA5j.png" alt="Quarto Slide">
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.imgur.com/1rXweln.png" alt="Quinto Slide">
            </div>

        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</div>

<!-- /CAROUSEL -->

<!-- SOBRE NÓS -->
<app-sobre></app-sobre>
<!-- /SOBRE NÓS -->

<!-- EQUIPE -->
<div class="row w-100">
    <div class="col-md-12">
        <app-equipe></app-equipe>
    </div>
</div>
<!-- /EQUIPE -->

<!-- FORMULÁRIO -->
<app-cadastro></app-cadastro>
<!-- /FORMULÁRIO -->

<!-- BOTÃO LATERAL -->
<app-botao-lateral></app-botao-lateral>
<!-- BOTÃO LATERAL -->