<div class="container-fluid positionContainer">

    <div class="row p-0 position w-100">
        <div class=" col-md-12 p-0">
            <div id="carouselExampleIndicators " class="carousel slide " data-ride="carousel ">
                <ol class="carousel-indicators ">
                    <li data-target="#carouselExampleIndicators " data-slide-to="0 " class="active"></li>
                    <li data-target="#carouselExampleIndicators " data-slide-to="1 "></li>
                    <li data-target="#carouselExampleIndicators " data-slide-to="2 "></li>
                </ol>
                <div class="carousel-inner ">
                    <div class="carousel-item active ">
                        <img class="d-block w-100 " src="https://i.imgur.com/v5KSOBL.jpg " alt="Primeiro Slide ">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100 " src="https://i.imgur.com/knSRRYJ.jpg " alt="Segundo Slide ">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100 " src="https://i.imgur.com/9i6aOht.jpg " alt="Terceiro Slide ">
                    </div>
                </div>
                <a class="carousel-control-prev " href="#carouselExampleIndicators " role="button " data-slide="prev ">
                    <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                    <span class="sr-only ">Anterior</span>
                </a>
                <a class="carousel-control-next " href="#carouselExampleIndicators " role="button " data-slide="next ">
                    <span class="carousel-control-next-icon " aria-hidden="true "></span>
                    <span class="sr-only ">Próximo</span>
                </a>
            </div>
        </div>
    </div>

</div>
<div class="d-flex flex-row-reverse bd-highlight">
    <div class="row mt">
        <div class="col align-self-end bgColor p-5 form">
            <form>
                <div class="form-group ">
                    <label for="exampleInputEmail1">Endereço de email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
                    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Clique em mim</label>
                </div>
                <button type="submit" class="btn btn-warning">Enviar</button>
            </form>
        </div>
    </div>
</div>