<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-light bg-white ml-5 mr-5 p-3 menu">
    <a class="navbar-brand" href="#">
        <img src="https://i.imgur.com/tlxWFmB.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sobre">Equipe/Sobre nós</a>
            </li>

        </ul>
        <div class="form-group form-inline my-2 my-lg-0 mr-sm-2">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email" [(ngModel)]="userLogin.usuario">
        </div>

        <div class="form-group form-inline my-2 my-lg-0 mr-sm-2">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" [(ngModel)]="userLogin.senha">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success w-10 " (click)="entrar()">Entrar</button>
        </div>
    </div>
</nav>

<!-- /NAVBAR -->

<!-- CAROUSEL -->

<div class="container-fluid p-0 w-100">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://i.imgur.com/YmfjA8C.png" alt="Primeiro Slide">
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.imgur.com/jlAjlqc.png" alt="Segundo Slide">
            </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.imgur.com/8lRfryZ.png" alt="Terceiro Slide">
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.imgur.com/BtGTQh4.png" alt="Quarto Slide">
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.imgur.com/AHQTM8h.png" alt="Quinto Slide">
                </div>

        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</div>

<!-- /CAROUSEL -->

<!-- SOBRE NÓS -->
<app-sobre></app-sobre>
<!-- /SOBRE NÓS -->

<!-- EQUIPE -->
<app-equipe></app-equipe>
<!-- /EQUIPE -->

<!-- FORMULÁRIO -->
<app-cadastro></app-cadastro>
<!-- /FORMULÁRIO -->

<div id="voltarTopo">
    <a href="#" id="subir" type="button" class="btn btn-outline-warning"> &#9650; </a>
</div>