<div class="container-fluid">
    <h1 class="display-4 text-center mb-4">Equipe</h1>
    <hr class="p-3">
    <div class="row justify-content-center m-0 p-0">

        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/42VQVwz.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Lais Basso</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                </div>

                <div class="card-body">

                    <a href="#" class="card-link">Link do card</a>
                    <a href="#" class="card-link">Outro link</a>

                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/dcX0KTT.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Leticia Sena</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                </div>

                <div class="card-body">

                    <a href="#" class="card-link">Link do card</a>
                    <a href="#" class="card-link">Outro link</a>

                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/F38maG1.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Matheus Müller</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                </div>

                <div class="card-body">

                    <a href="#" class="card-link">Link do card</a>
                    <a href="#" class="card-link">Outro link</a>

                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/wOxkGBd.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Mayara Dotta</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                </div>

                <div class="card-body">

                    <a href="#" class="card-link">Link do card</a>
                    <a href="#" class="card-link">Outro link</a>

                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/9T4TMQn.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Victor Hugo Ulloa</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                </div>

                <div class="card-body">

                    <a href="#" class="card-link">Link do card</a>
                    <a href="#" class="card-link">Outro link</a>

                </div>
            </div>
        </div>

    </div>
</div>

<hr class="p-3 mt-5">