<div class="row w-100">
    <div class="col-md-12">

        <div class="container">
            <h1 class="display-4 text-center mb-4">Equipe</h1>
            <hr class="p-3">
        </div>

        <div class="row flex-wrap justify-content-around w-100 ml-4">

            <div class="card mt-3" style="width: 15rem;">
                <img class="card-img-top img-fluid" src="https://i.imgur.com/42VQVwz.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Lais Basso</h5>
                    <p class="card-text"> Fullstack Developer Jr. </p>
                </div>

                <div class="card-body">
                    <div class="row d-flex justify-content-center w-100">
                        <ul class="social-network">
                            <li><a href="https://www.linkedin.com/in/laisbasso/" target="_blank" class="icoLinkedin"
                                    title="Linkedin">
                                    <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                </a></li>
                            <li><a href="https://github.com/laisbasso" target="_blank" class="icoGithub" title="GitHub">
                                    <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                </a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="card mt-3" style="width: 15rem;">
                <img class="card-img-top" src="https://i.imgur.com/dcX0KTT.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Leticia Sena</h5>
                    <p class="card-text"> Fullstack Developer Jr. </p>
                </div>

                <div class="card-body">

                    <div class="row d-flex justify-content-center w-100">
                        <ul class="social-network">
                            <li><a href="https://www.linkedin.com/in/leticia-sena/" target="_blank" class="icoLinkedin"
                                    title="Linkedin">
                                    <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                </a></li>
                            <li><a href="https://github.com/leticia-sena" target="_blank" class="icoGithub"
                                    title="GitHub">
                                    <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                </a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="card mt-3" style="width: 15rem;">
                <img class="card-img-top img-fluid" src="https://i.imgur.com/F38maG1.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Matheus Müller</h5>
                    <p class="card-text"> Fullstack Developer Jr. </p>
                </div>

                <div class="card-body">

                    <div class="row d-flex justify-content-center w-100">
                        <ul class="social-network">
                            <li><a href="https://www.linkedin.com/in/matheuxmuller/" target="_blank" class="icoLinkedin"
                                    title="Linkedin">
                                    <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                </a></li>
                            <li><a href="https://github.com/matheuxmuller" target="_blank" class="icoGithub"
                                    title="GitHub">
                                    <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                </a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="card mt-3" style="width: 15rem;">
                <img class="card-img-top img-fluid" src="https://i.imgur.com/wOxkGBd.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Mayara Dotta</h5>
                    <p class="card-text"> Fullstack Developer Jr. </p>
                </div>

                <div class="card-body">

                    <div class="row d-flex justify-content-center w-100">
                        <ul class="social-network">
                            <li><a href="https://www.linkedin.com/in/mayara-pdotta/" target="_blank" class="icoLinkedin"
                                    title="Linkedin">
                                    <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                </a></li>
                            <li><a href="https://github.com/DottaMP" target="_blank" class="icoGithub" title="GitHub">
                                    <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                </a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="card mt-3" style="width: 15rem;">
                <img class="card-img-top img-fluid" src="https://i.imgur.com/9T4TMQn.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Victor Hugo Ulloa</h5>
                    <p class="card-text"> Fullstack Developer Jr. </p>
                </div>

                <div class="card-body">

                    <div class="row d-flex justify-content-center w-100">
                        <ul class="social-network">
                            <li><a href="https://www.linkedin.com/in/victorhup/" target="_blank" class="icoLinkedin"
                                    title="Linkedin">
                                    <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                </a></li>
                            <li><a href="https://github.com/Victorhup" target="_blank" class="icoGithub" title="GitHub">
                                    <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                </a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

        <hr class="p-3 mt-5">
    </div>
</div>