<div class="container">
    <!--CARDS EQUIPE-->
    <div class="parallax">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8">
                <div class="card-deck">
                    <div class="card bg-transparent border-0 p-4">
                        <img class="card-img-top rounded mx-auto d-block rounded-circle w-75 mt-3 shadow"
                            src="https://avatars1.githubusercontent.com/u/59889307?s=460&u=9e30b32ffb4404da344150a02088ad3083bd67b9&v=4"
                            alt="Imagem de capa do card">
                        <div class="card-body-center mt-3">
                            <h5 class="card-title text-center mt-3">Lais Basso</h5>
                            <p class="card-text text-justify">Mussum Ipsum, cacilds vidis litro abertis. Mais vale um
                                bebadis conhecidiss, que um alcoolatra anonimis. Si num tem leite então
                                bota uma pinga aí cumpadi! Casamentiss faiz malandris se pirulitá. Viva
                                Forevis aptent taciti sociosqu ad litora torquentViva
                                Forevis aptent taciti sociosqu ad litora torquent.</p>
                            <div class="row d-flex justify-content-center">
                                <ul class="social-network">
                                    <li><a href="https://www.linkedin.com/in/laisbasso/" target="_blank"
                                            class="icoLinkedin" title="Linkedin">
                                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                        </a></li>
                                    <li><a href="https://github.com/laisbasso" target="_blank" class="icoGithub"
                                            title="GitHub">
                                            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-transparent border-0 p-4">
                        <img class="card-img-top rounded mx-auto d-block rounded-circle w-75 mt-3 shadow"
                            src="https://avatars0.githubusercontent.com/u/67791520?s=460&u=bdee4292d0f39eff30820a95d90db0c8d21bb161&v=4"
                            alt="Imagem de capa do card">
                        <div class="card-body-center mt-3">
                            <h5 class="card-title text-center mt-3">Mayara Dotta</h5>
                            <p class="card-text text-justify">Curiosa e apaixonada pela área tecnológica, sempre gostou
                                de
                                ambientes desafiadores e inovadores. Com seus mais de 7 anos de experiência no setor
                                logístico
                                encarou de frente a transição de carreira para a área de TI, onde pretende tornar-se
                                referência para
                                as mulheres e mostrar que é possível fazerem parte dele.</p>
                            <div class="row d-flex justify-content-center">
                                <ul class="social-network">
                                    <li><a href="https://www.linkedin.com/in/mayara-pdotta/" target="_blank"
                                            class="icoLinkedin" title="Linkedin">
                                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                        </a></li>
                                    <li><a href="https://github.com/DottaMP" target="_blank" class="icoGithub"
                                            title="GitHub">
                                            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-12">
                <div class="card-deck">
                    <div class="card bg-transparent border-0 p-5">
                        <img class="card-img-top rounded mx-auto d-block rounded-circle w-75 mt-3 shadow"
                            src="https://avatars1.githubusercontent.com/u/67790499?s=460&u=19f52f3bee30cc632ce2fc9e51220294e291d8bd&v=4"
                            alt="Imagem de capa do card">
                        <div class="card-body-center mt-3">
                            <h5 class="card-title text-center mt-3">Matheus Müller</h5>
                            <p class="card-text text-justify">Mussum Ipsum, cacilds vidis litro abertis. Mais vale um
                                bebadis conhecidiss, que um alcoolatra anonimis. Si num tem leite então
                                bota uma pinga aí cumpadi! Casamentiss faiz malandris se pirulitá. Viva
                                Forevis aptent taciti sociosqu ad litora torquent.</p>
                            <div class="row d-flex justify-content-center">
                                <ul class="social-network">
                                    <li><a href="https://www.linkedin.com/in/matheuxmuller/" target="_blank"
                                            class="icoLinkedin" title="Linkedin">
                                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                        </a></li>
                                    <li><a href="https://github.com/matheuxmuller" target="_blank" class="icoGithub"
                                            title="GitHub">
                                            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-transparent border-0">
                        <img class="card-img-top rounded mx-auto d-block rounded-circle w-75 mt-3 shadow"
                            src="https://avatars1.githubusercontent.com/u/67433968?s=460&u=18637e31d4255959e2f53b450da4cc4f1f96f56f&v=4"
                            alt="Imagem de capa do card">
                        <div class="card-body-center mt-3">
                            <h5 class="card-title text-center mt-3">Letícia Sena</h5>
                            <p class="card-text text-justify">Mussum Ipsum, cacilds vidis litro abertis. Mais vale um
                                bebadis conhecidiss, que um alcoolatra anonimis. Si num tem leite então
                                bota uma pinga aí cumpadi! Casamentiss faiz malandris se pirulitá. Viva
                                Forevis aptent taciti sociosqu ad litora torquent.</p>
                            <div class="row d-flex justify-content-center">
                                <ul class="social-network">
                                    <li><a href="https://www.linkedin.com/in/leticia-sena/" target="_blank"
                                            class="icoLinkedin" title="Linkedin">
                                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                        </a></li>
                                    <li><a href="https://github.com/leticia-sena" target="_blank" class="icoGithub"
                                            title="GitHub">
                                            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-transparent border-0 p-5">
                        <img class="card-img-top rounded mx-auto d-block rounded-circle w-75 mt-3 shadow"
                            src="https://scontent.fcgh5-1.fna.fbcdn.net/v/t1.0-9/35347224_1656160074482414_2549340390444498944_n.jpg?_nc_cat=109&_nc_sid=174925&_nc_eui2=AeEnhg5QM-sOQlJI3coV7oscACpBZnVyADEAKkFmdXIAMWqa7pAZWMbcgafub-sR61m3HmY0jOBieoEfKf6eile4&_nc_ohc=ggHb1juIcMUAX9kfX1u&_nc_ht=scontent.fcgh5-1.fna&oh=0869fddaa08481bda84c328d11419121&oe=5F6C2FE7"
                            alt="Imagem de capa do card">
                        <div class="card-body-center mt-3">
                            <h5 class="card-title text-center mt-3">Victor Hugo Ulloa</h5>
                            <p class="card-text text-justify">Mussum Ipsum, cacilds vidis litro abertis. Mais vale um
                                bebadis conhecidiss, que um alcoolatra anonimis. Si num tem leite então
                                bota uma pinga aí cumpadi! Casamentiss faiz malandris se pirulitá. Viva
                                Forevis aptent taciti sociosqu ad litora torquent. </p>
                            <div class="row d-flex justify-content-center">
                                <ul class="social-network">
                                    <li><a href="https://www.linkedin.com/in/victorhup/" target="_blank"
                                            class="icoLinkedin" title="Linkedin">
                                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                                        </a></li>
                                    <li><a href="https://github.com/Victorhup" target="_blank" class="icoGithub"
                                            title="GitHub">
                                            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/CARDS EQUIPE-->

</div>