ul.social-network {
    list-style: none;
    display: inline;
  
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
  }
  
  .faLinkedin, .faGithub{
      color: rgba(172, 172, 172, 0.815);
  }
  
  .faLinkedin:hover{
  color: #0072b1;
  }
  
  .faGithub:hover{
  color: #000000;
  }

  img {
    opacity: 0.7;
  }
  
  img:hover {
    opacity: 1.0;
  }
