<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img class="navbar-brand" src="../../assets/img/logo-seiva.png" width="100"></a>

    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
        data-target="#collapseMenu" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation" id="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <form class="form-inline my-2 my-lg-0" id="search">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>

    <div class="collapse navbar-collapse d-flex justify-content-end" target="collapseMenu">
        <ul class="navbar-nav" id="collapseMenu">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="navbarTogglerDemo02">Eventos</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <div class=" d-flex flex-wrap text-center justify-content-center" id="menu-drop">
                        <button class="btn btn-outline-success rounded-pill m-1"> Ongs </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Psicologia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Alimentação </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Tecnologia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Família </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Esportes </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Estudos </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> DIY </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Carreira </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Humor </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Cinema </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Crenças </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Games </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Música </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Escrita </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Fotografia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Animações </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Artes plásticas </button>
                    </div>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Cursos</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <div class=" d-flex flex-wrap text-center justify-content-center" id="menu-drop">
                        <button class="btn btn-outline-success rounded-pill m-1"> Ongs </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Psicologia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Alimentação </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Tecnologia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Família </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Esportes </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Estudos </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> DIY </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Carreira </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Humor </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Cinema </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Crenças </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Games </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Música </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Escrita </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Fotografia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Animações </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Artes plásticas </button>
                    </div>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Projetos</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <div class=" d-flex flex-wrap text-center justify-content-center" id="menu-drop">
                        <button class="btn btn-outline-success rounded-pill m-1"> Ongs </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Psicologia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Alimentação </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Tecnologia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Família </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Esportes </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Estudos </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> DIY </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Carreira </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Humor </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Cinema </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Crenças </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Games </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Música </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Escrita </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Fotografia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Animações </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Artes plásticas </button>
                    </div>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Vagas</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <div class=" d-flex flex-wrap text-center justify-content-center" id="menu-drop">
                        <button class="btn btn-outline-success rounded-pill m-1"> Ongs </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Psicologia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Alimentação </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Tecnologia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Família </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Esportes </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Estudos </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> DIY </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Carreira </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Humor </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Cinema </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Crenças </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Games </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Música </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Escrita </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Fotografia </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Animações </button>
                        <button class="btn btn-outline-success rounded-pill m-1"> Artes plásticas </button>
                    </div>
                </ul>
            </li>
        </ul>

        <div>
            <img class="rounded-circle ml-5" width="40" src="../../assets/img/lais.png">
        </div>
    </div>
</nav>