<nav class="navbar navbar-expand-lg bg-light">
    <img class="navbar-brand" src="../../assets/img/logo-seiva.png" width="100">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="main_nav">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Eventos</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <div class="d-flex">
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Ongs </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Psicologia </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Alimentação </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Tecnologia </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Família </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Esportes </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Estudos </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> DIY </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Carreira </button>
                    </div>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Cursos</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <div class="d-flex">
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Ongs </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Psicologia </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Alimentação </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Tecnologia </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Família </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Esportes </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Estudos </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> DIY </button>
                        <button class="btn btn-outline-success rounded-pill ml-1 mr-1"> Carreira </button>
                    </div>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Projetos</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                    <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Vagas</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                    <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                </ul>
            </li>
        </ul>

        <div>
            <img class="rounded-circle ml-5" width="40" src="../../assets/img/lais.png">
        </div>
    </div>
</nav>