<!-- CONTAINER -->
<div class="container">

  <div class="row mt-5 mb-5 d-flex justify-content-center">

    <div class="col-md-7 mt-5">
      <div class="display-4 pl-0 mb-5 text-center"> Tem certeza que deseja apagar esse tema? </div>

      <!-- FORM -->
      <div class="form-group col-md-12 text-center">
        <label class="" for="texto">Nome do tema:</label>
        <input class="form-control mb-4 text-center" [(ngModel)]='tema.descricao' readonly>
      </div>
      <!-- /FORM -->

      <!-- BOTÕES -->
      <div class="row mb-5">
        <div class="col-md-12 d-flex justify-content-center">
          <button class="btn btn-outline-success w-25 rounded-pill mr-5" (click)="btnSim()"><img alt="Confirmar"
              class="icon" src="../../assets/img/yes.png"><span class="p-2">Confirmar</span></button>
          <button class="btn btn-outline-danger w-25 rounded-pill ml-5" (click)="btnNao()"><img alt="Cancelar"
              class="icon" src="../../assets/img/no.png"><span class="p-2">Cancelar</span></button>
        </div>
      </div>
      <!-- /BOTÕES -->

    </div>

  </div>

</div>
<!-- /CONTAINER -->
