#feedback {
    position: fixed;
    right: 0px;
    top: 250px;
    bottom: 250px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    scroll-behavior: smooth;
    transition: .4s;
    font-size: 8pt;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    text-orientation: upright;
}