<div>
    <a href="#" id="feedback" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalExemplo"> clique </a>

    <!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ei, cê precisa de ajuda? Conta conosco</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> A pandemia e o isolamento pos si sós são dois grandes problemas, mas separamos aqui algumas referências para te ajudar em qualquer eventualidade. Clicando em qualquer uma delas, você é redirecionade pra lá, ok? </p>
        </div>
        <div class="modal-footer justify-content-center">
          <a href="http://www.apeoesp.org.br/publicacoes/atendimento-psicologico/atendimento-psicologico-gratuito-neste-periodo-de-isolamento-veja-aqui/" target="_blank" type="button" class="btn btn-outline-danger rounded-pill">Atendimento psicológico gratuito</a>
          <a href="https://www.cvv.org.br/" target="_blank" type="button" class="btn btn-outline-danger rounded-pill">Centro de Valorização a Vida</a>
          <a href="https://ouvidoria.mdh.gov.br/" target="_blank" type="button" class="btn btn-outline-danger rounded-pill">Disque Direitos Humanos</a>
          <a href="https://www.defensoria.sp.def.br/dpesp/Default.aspx?idPagina=3454" target="_blank" type="button" class="btn btn-outline-danger rounded-pill">Delegacia da Mulher</a>
          
        </div>
      </div>
    </div>
  </div>
</div>