<app-navbar></app-navbar>

<!-- CONTAINER -->
<div class="container mt-5 pt-5">

  <!-- CARDS TEMAS -->
  <div class="row">
    <div class="col-md-12 d-flex justify-content-around flex-wrap" id="temas">
      <div class="subir-card mt-2 text-decoration-none justify-content-center" *ngFor='let item of listaTemas'>
        <div class="card border-0 shadow p-1 mb-2 bg-white rounded">
          <img class="card-img-overlay w-100 p-0" src="{{item.imagem}}" alt="Card image cap">
          
            <h4 class="card-title text-center pt-5 m-0 text-light">{{item.descricao}}</h4>
         
        </div>
      </div>
    </div>
  </div>
  <!-- /CARDS TEMAS -->

  <!-- NOVA POSTAGEM -->
  <div class="row mt-5" id="postagem">
    <div class="col-md-7 mb-5 mt-5">
      <div class="display-4 pl-0 mb-3"> Sobre o que você quer falar hoje? </div>
      <div class="form-group">
        <label class="" for="titulo">Título:</label>
        <input required type="text" class="form-control" id="titulo" placeholder="Digite aqui o seu titulo"
          [(ngModel)]='postagem.titulo'>
      </div>

      <div class="form-group">
        <label class="" for="texto">Texto:</label>
        <textarea required class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu texto"
          [(ngModel)]='postagem.descricao'></textarea>
      </div>

      <div class="form-group">
          <label class="" for="texto">Imagem:</label>
          <input class="form-control mb-4" id="texto" rows="3" placeholder="Cole aqui o link da imagem"
              [(ngModel)]='postagem.imagem'>
      </div>

      <div class="row d-flex align-items-end">
        <div class="col-md-6">
          <div class="form-group m-0">
            <label class="" for="tema">Escolha um tema:</label>
            <select required name="tema" id='tema' class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
              <option *ngFor='let item of listaTemas' value={{item.id}}>
                {{item.descricao}}
              </option>
            </select>
          </div>
        </div>

        <button class="btn btn-outline-danger w-25 rounded-pill mr-5" (click)="publicar()"><img alt="Publicar"
            class="icon" src="../../assets/img/post.png"><span class="p-2">Publicar</span></button>
      </div>
    </div>

    <!-- IMAGEM -->

    <div class="col-md-5 mt-5 subir-card">
      <div class="card border-0 mt-5">
        <img class="card-img-top" src="../../assets/img/img-post.png" alt="Card image cap">
      </div>
    </div>
  </div>
  <!-- /IMAGEM -->
  <!-- /NOVA POSTAGEM -->

  <div class="row">
    <div class="col-md-12">
      <hr class="mt-5 mb-5" />

      <!-- BUSCA CONTEÚDO -->
      <div class="display-4 pl-0 mb-5  d-flex justify-content-center"> Pesquisar conteúdo </div>
      <div class="row mt-3 mb-3 mt-3 d-flex justify-content-center">
        <div class="col-md-3">
          <input class="form-control w-100 mb-3" type="search" placeholder="Ex: Cinema" aria-label="Pesquisar"
            [(ngModel)]='titulo'>
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-info w-100 rounded-pill" typoe="button" (click)='findByTituloPostagem()'><img
              alt="Pesquisar" class="icon" src="../../assets/img/search.png"><span class="p-2">Pesquisar</span></button>
        </div>
      </div>
      <!-- /BUSCA CONTEÚDO -->

      <!-- POSTAGENS -->
      <div class="card-columns mt-5" id="posts">
        <div class="card border-danger" *ngFor="let item of listaPostagens">
          <img class="card-img-top" src="{{item.imagem}}" alt="Card image cap">
          <div class="card-body">

            <div class="d-flex justify-content-between">
              <div>
                <h6 class="seiva-vinho">{{item.tema.descricao}}</h6>
                <h3 class="card-title mt-2 seiva-pink">{{item.titulo}}</h3>
              </div>

              <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                  src="../../assets/img/settings.png" title="Configurações da postagem" alt="Configurações da postagem"
                  style=width:35px;>
              </button>
              <div class="dropdown-menu dropdown-menu-right text-justify" id="settings-post">
                <a class="dropdown-item p-3" title="Editar" [routerLink]="['/editar-postagem', item.id]"><img
                    alt="Editar postagem" class="icon" src="../../assets/img/edit.png"></a>
                <a class="dropdown-item p-3" title="Deletar" [routerLink]="['/deletar-postagem', item.id]"><img
                    alt="Excluir postagem" class="icon" src="../../assets/img/del.png"></a>
              </div>
            </div>

            <p class="card-text text-justify" aria-describedby="texto"> {{item.descricao}} </p>
            <small id="texto" class="form-text m-0 text-muted">
              Postado em {{item.data | date:'dd/MM/yyyy'}} às
              {{item.data | date:'HH:mm'}}</small>
          </div>
        </div>
      </div>
    </div>
    <img class="img-fluid mt-3" src="../../assets/img/final-pag.png">
  </div>
  <!-- /POSTAGENS -->
  <!-- /CONTAINER -->